.singleProduct button {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 5px 0;
}

.btn-red {
    color: #d51313;
    border: 1px solid #d51313;

}

.btn-edit {
    color: #198754;
    border: 1px solid #198754;
}
